:root {
    --back-ground-clr1: #FFCDA2;
    --back-ground-clr2: #FFA453;
}

body {
    background: linear-gradient(180deg, var(--back-ground-clr1), var(--back-ground-clr2));
}

.header-background {
    background-image: url("../Images/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.review-box-abs {
    transform: rotate(-8deg);
}

.header_text {
    /* font-family: "poppins"; */
    font-size: 2.5rem;
}

.btn{
    color: var(--back-ground-clr2);
}

.text-color {
    color: var(--back-ground-clr2);
}

.play_demo {
    font-size: 0.7rem;
}

.play_button {
    font-size: 2rem;
    /* justify-content: space-evenly; */
}

/* .review-box-rel{
    width: 300px;
} */

/* .background1 {
    /* height: 300px;
    background-image: url("../Images/background_1.png");
    background-size: contain;
    background-repeat: no-repeat; 
}*/

.heart {
    top: 10px;
    right: 50px;
    font-size: 15px;
}

/* .b1-image{
    height: 100px;
    width: 100px;
} */

.text-and-price {
    width: 150px;
}

.background1 {
    background-image: url('../Images/background_1.png');
    /* Aapki shape image */
    background-size: 95% 80%;
    /* Ye zaroori hai taaki image stretch ho kar card fit kare */
    background-repeat: no-repeat;
    /* background-position: center; */
    min-height: 380px;
    /* Adjust karein jab tak text andar na aa jaye */
    position: relative;
    border-radius: 15px;
    /* Image ke corners ke saath match karne ke liye */
}

.burger-img {
    max-height: 300px;
    /* Burger ka size control karne ke liye */
    /* object-fit: contain; */
}

/* Arrow ko us niche wale "tab" par laane ke liye */
.arrow-container {
    position: absolute;
    bottom: 85px;
    /* Image ke niche wale tab ke hisaab se adjust karein */
    right: 25px;
    font-size: 1.2rem;
}

.text-and-price-card {
    padding-bottom: 100px;
    /* Taaki niche arrow ke liye jagah rahe */
}

/* .start_arrow_icon {
    background-color: #f0f0f0;
    border-radius: 50%;
    border: 2px;

    color: var(--back-ground-clr2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
} */

.background2{
    background-image: url("../Images/Section3_background_Image.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.page4_text{
    font-size: 0.7rem;
}
.page4_image{
    height: 300px;
    width: 250px;
    /* object-fit: contain; */
}

.page4_bg{
    background-color: #FF6947;
    border-radius: 20px;
    height: 200px;
}